{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="application-description">
        <div class="description-header">
          <h1> Mail Application</h1>
        </div>
        <div class="description-content">
          <p> This application can be used to send and receive mails. This application uses simple user interface to compose, read, and send mails. In order to send mail, existing users need to login into the application. If the user doesn't have account in this application, they need to create new account before using the application features.</p>
          {% with messages = get_flashed_messages() %}
             {% if messages %}
                {% for message in messages %}
                   <p {% if confirmation %} class="alert alert-success" {% else %} class="alert alert-danger" {% endif %}>{{ message }}</p>
                {% endfor %}
             {% endif %}
          {% endwith %}
        </div>
      </div>
      <div class="application-form">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#login">Login</a></li>
          <li><a data-toggle="tab" href="#register">Register</a></li>
        </ul>

        <div class="tab-content">
          <div id="login" class="tab-pane fade in active">
            <div class="login-content">
<!--              <div class="login-header">-->
<!--                <h3>Login</h3>-->
<!--              </div>-->
              <div class="login-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cumque deserunt doloremque enim error est eum eveniet excepturi expedita illo itaque molestias quae quia, sapiente. Doloribus libero quod rerum!</p>
              </div>
            </div>
            <div class="login-form">
              <form action="/login" method="POST">
                <div class="form-group">
                  <label for="login-email">Email address</label>
                  <input type="email" class="form-control" id="login-email" name="login-email" aria-describedby="emailHelp" placeholder="Enter email" required>
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="login-password">Password</label>
                  <input type="password" class="form-control" id="login-password" name="login-password" placeholder="Password" required minlength="10" maxlength="30">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
            </div>
          </div>
          <div id="register" class="tab-pane fade">
            <div class="register-content">
<!--              <div class="register-header">-->
<!--                <h3>Register</h3>-->
<!--              </div>-->
              <div class="register-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid animi dolore dolores eos esse fugiat ipsa modi nemo non, officiis placeat provident quis quod repellat repellendus totam velit vero?</p>
              </div>
            </div>
            <div class="register-form">
                <form action="/register" method="POST">
                  <div class="register-input">
                    <div class="input">
                      <input type="text" class="form-control" name="first-name" id="first-name" aria-describedby="FirstName" placeholder="Enter First Name" required minlength="10" maxlength="30">
                    </div>
                    <div class="input">
                      <input type="text" class="form-control" name="last-name" id="last-name" aria-describedby="LastName" placeholder="Enter Last Name" required minlength="10" maxlength="30">
                    </div>
                  </div>
                  <div class="register-input">
                    <div class="input">
                      <input type="date" class="form-control" name="birthday" id="birthday" aria-describedby="Birthday" required>
                    </div>
                    <div class="input">
                      <b>Gender</b><br>
                      <input type="radio" id="gender-male" name="gender" value="Male" required>
                      <label for="gender-male">Male</label>
                      <input type="radio" id="gender-female" name="gender" value="Female" required>
                      <label for="gender-male">Female</label>
                      <input type="radio" id="gender-other" name="gender" value="Other" required>
                      <label for="gender-male">Others</label>
                    </div>
                  </div>
                  <div class="register-input">
                    <div class="input">
                      <input type="text" class="form-control" name="register-email" id="register-email" aria-describedby=RegisterEmail" placeholder="Enter E-mail Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  required>
                    </div>
                    <div class="input">
                      <input type="tel" class="form-control" name="phone-number" id="phone-number" aria-describedby="Phone Number"  placeholder="Enter Phone Number" required>
                    </div>
                  </div>
                  <div class="register-input">
                    <div class="input">
                      <input type="password" class="form-control" name="password" id="password" aria-describedby="Password" placeholder="Enter Password" required minlength="10" maxlength="30">
                    </div>
                    <div class="input">
                      <input type="password" class="form-control" name="confirm_password" id="confirm_password" aria-describedby="ConfirmPassword" placeholder="Confirm Password" required minlength="10" maxlength="30">
                    </div>
                  </div>
                  <div class="register-input">
                    <select class="form-control" aria-label="Select Option" name="usage" id="usage" required>
                      <option selected>Select one option</option>
                      <option value="0">Personal</option>
                      <option value="1">Business</option>
                    </select>
                  </div>
                <div class="register-input">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}