{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="application-description">
        <div class="description-header">
          <h1> Mail Application</h1>
        </div>
        <div class="description-content">
          <p> This application can be used to send and receive mails. This application uses simple user interface to compose, read, and send mails. In order to send mail, existing users need to login into the application. If the user doesn't have account in this application, they need to create new account before using the application features.</p>
        </div>
      </div>
      <div class="application-form">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#login">Login</a></li>
          <li><a data-toggle="tab" href="#register">Register</a></li>
        </ul>

        <div class="tab-content">
          <div id="login" class="tab-pane fade in active">
            <div class="login-content">
<!--              <div class="login-header">-->
<!--                <h3>Login</h3>-->
<!--              </div>-->
              <div class="login-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cumque deserunt doloremque enim error est eum eveniet excepturi expedita illo itaque molestias quae quia, sapiente. Doloribus libero quod rerum!</p>
              </div>
            </div>
            <div class="login-form">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
            </div>
          </div>
          <div id="register" class="tab-pane fade">
            <div class="register-content">
<!--              <div class="register-header">-->
<!--                <h3>Register</h3>-->
<!--              </div>-->
              <div class="register-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid animi dolore dolores eos esse fugiat ipsa modi nemo non, officiis placeat provident quis quod repellat repellendus totam velit vero?</p>
              </div>
            </div>
            <div class="register-form">
                <form>
                  <div class="register-input">
                    <div class="input">
                      <input type="text" class="form-control" id="first-name" aria-describedby="FirstName" placeholder="Enter First Name">
                    </div>
                    <div class="input">
                      <input type="text" class="form-control" id="last-name" aria-describedby="LastName" placeholder="Enter Last Name">
                    </div>
                  </div>
                  <div class="register-input">
                    <div class="input">
                      <input type="date" class="form-control" id="birthday" aria-describedby="Birthday">
                    </div>
                    <div class="input">
                      <b>Gender</b><br>
                      <input type="radio" id="gender-male" name="gender" value="Male">
                      <label for="gender-male">Male</label>
                      <input type="radio" id="gender-female" name="gender" value="Female">
                      <label for="gender-male">Female</label>
                      <input type="radio" id="gender-other" name="gender" value="Other">
                      <label for="gender-male">Others</label>
                    </div>
                  </div>
                  <div class="register-input">
                    <div class="input">
                      <input type="text" class="form-control" id="register-email" aria-describedby=RegisterEmail" placeholder="Enter E-mail Address">
                    </div>
                    <div class="input">
                      <input type="tel" class="form-control" id="phone-number" aria-describedby="Phone Number"  placeholder="Enter Phone Number" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" >
                    </div>
                  </div>
                  <div class="register-input">
                    <select class="form-control" aria-label="Select Option">
                      <option selected>Select one option</option>
                      <option value="0">Personal</option>
                      <option value="1">Business</option>
                    </select>
                  </div>
                <div class="register-input">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}