@import url('https://fonts.googleapis.com/css2?family=Anton&family=Heebo:wght@300&family=Roboto+Slab:wght@500&display=swap');


html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-flow: column;
  font-family: 'Heebo', sans-serif !important;
}

#nav-bar{
    width: 100%;
    flex: 0 0 0;
}

#nav-bar nav{
    width: inherit;
    padding: 10px 15px;
    background: #005ebc;
}

#nav-bar ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-bar ul li{
    padding: 10px 20px;
    color: white;
}

#nav-bar ul li a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#nav-bar ul li:hover{
    background: black;
    color: white;
    cursor: pointer;
}

#content{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-left: 150px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0px;
    column-gap: 25px;
}

.application-description{
    flex-basis: 40%;
    display: flex;
    flex-flow: column;
}

.application-form{
    flex-basis: 55%;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs > li > a{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
}

.tab-content{
    border: 1px solid #ddd !important;
    padding: 10px 20px !important;
}

.description-header h1{
    font-family: 'Roboto Slab', serif;
    padding: 20px 0;
}

.description-content p, .login-description p, .register-description p{
    text-align: justify;
    line-height: 1.7em;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
}

#login, #register {
    padding: 10px 20px !important;
}

.tab-content > .tab-pane{
    display: flex ;
    flex-flow: column !important;
}

.tab-content>.active {
    display: flex !important;
}

.fade{
    display: none !important;
}

.register-input{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.register-input > .input{
    flex-basis: 45%;
    margin: 10px;
}

.input > label{
    font-weight: 100 !important;
    padding-right: 5px;
}

.register-input > select{
    flex-basis: 94%;
    margin: 10px;
}

.tab-content{
    height: 100% !important;
}

.register-input > button{
    margin: 10px auto 0 18px;
}

.dashboard-container{
    width: 100% !important;
}

#full-mail-details{
    display: none;
}

.dashboard-container > .row{
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    padding: 0;
    top: 63px;
    gap: 0;
    bottom: 60px;
}

.side-banner{
    flex-basis: 20%;
    border-right: 1px solid #ddd;
}

.compose-container{
    padding: 10px 40px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#compose-button{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.mail-list{
    list-style: none;
    margin: 0 !important;
    padding: 20px 0 !important;
}

.mail-list li{
    width: 100% !important;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 40px;
}

.item-count{
    color: #005ebc;
}

.mail-list li a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
}

.mail-list li:hover{
    background: #ddd;
}

.authenticate-description{
    padding: 20px 30px;
}

.authenticate-steps{
    list-style: none;
}

.authenticate-steps li{
    padding: 10px;
}

.authenticate-form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.authenticate-form input{
    width: 60%;
}

.dashboard-container .main-container{
    flex-basis: 80%;
}

#full-mail-details{
    padding: 20px;
}

.full-mail-container{
    padding: 15px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#mail-received-body{
    padding: 15px;
}

.header, .message{
    border: 1px solid #ddd;
}

.main-header{
    border-bottom: 1px solid #ddd;
    padding: 5px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-header .dropdown-menu{
    padding: 20px 10px;
}

.main-header .dropdown-item{
    padding: 10px;
}

.mails-list{
    list-style: none;
    padding: 0;
}

.mail{
    padding: 10px 20px;
    border: 1px solid #ddd;
}

a:hover{
    text-decoration: none !important;
}

.mail-info{
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.unread{
    background: #dff0f6;
}

.form-check-input{
    margin: 0px 5px !important;
}

.form-group{
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-group select{
    width: 20%;
}

.actions{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.actions button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.mail-sender{
    flex-basis: 20%;
    color: black;
    font-size: 13px;
}

.main-pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mail-subject{
    flex-basis: 60%;
    color: gray;
    font-weight: 100;
}

.mail-date{
    flex-basis: 20%;
    color: black;
    font-size: 12px;
}

.compose-form-container{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.compose-form-container label{
    padding: 10px 20px;
}

.compose-form-container input{
    width: 80%;
}

#cke_mail_content{
    width: 100% !important;
}

#compose-actions .main-header{
    justify-content: flex-start;
    gap: 20px;
}

.pagination-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination-item{
    padding: 10px 20px;
    border: 1px solid #ddd;
    cursor: pointer
}

#footer{
    flex: 0 0 0;
    width: 100%;
    padding: 20px;
    justify-content: center;
    background: black;
    color: white;
    display: flex;
    bottom: 0;
}

#footer a{
    padding: 0 5px;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .application-description {
        flex-basis: 90%;
    }
    .application-form {
        flex-basis: 90%;
    }

    .register-input {
        flex-flow: column;
    }
}